//- About
article.section.section--featured.home-about: .container
    h2 Interested in joining MIT Men's Rugby Football Club
    .row: .col-sm-8.col-sm-offset-2
    if !user
        .row: .col-sm-4.col-sm-offset-4
            a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
                span.text-caps Join MIT Rugby now
    p.mt-1: a(href="https://twitter.com/mitrugby", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @mitrugby

//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
    .row
        .col-sm-4
            h5.footer-heading About
            p MIT Rugby practices twice a week during the season (Spring and Autumn) and meet to play touch rugby in the off season. Practices and matches on either Briggs Field or Robert's Field at MIT.
            ul.list-inline
                li: a(href='/about') More about MIT Rugby
                li: a(href='mailto:mitrugby@gmail.com') Contact us

        .col-sm-8
            .row
                .col-xs-4
                    h5.footer-heading Organisations
                    ul
                        li: a(href='http://www.nerfu.org/', target='_blank') NERFU
                        li: a(href='http://www.worldrugby.org/', target='_blank') World Rugby
                        li: a(href='http://wrugby.mit.edu/', target='_blank') MIT Women's Rugby

                .col-xs-4
                    h5.footer-heading Social Media
                    ul
                        if user
                            li: a(href='/members') Roster
                        li: a(href='https://www.facebook.com/mitrugby', target='_blank') Facebook
                        li: a(href='https://www.twitter.com/mitrugby', target='_blank') Twitter
                        li: a(href='https://www.instagram.com/mitrugby', target='_blank') Instagram
                        if !user
                            li: a(href='/join').js-auth-trigger Join MIT Rugby
                .col-xs-4
                    h5.footer-heading Sponsors
                    ul: each sponsor in sponsors
                        li
                            a(href= sponsor.website, rel='external')= sponsor.name
                            i
    .row.footer-copyright
        p Copyright &copy; 2017 MIT Rugby. Powered by <a href='http://keystonejs.com' rel='external'>KeystoneJS</a>.
