extends ../../layouts/default

include ../../mixins/match
include ../../mixins/pastmatch


block content
    .container-sm
        .page-intro.text-left
            a(href='/matches').text-muted &larr; Back to all matches
        .page-content
            if match.state == 'past'
                +pastmatch(match)
            else
                +match(match)
block js

    if user
        script.
            MITRugby.user = !{JSON.stringify(user)};

    script(src='/js/packages.js')
    script(src='/js/attending.js')