extends ../../layouts/default

include ../../mixins/matchreport

block intro
    .container-sm
        .page-intro
            h1.page-title Match Reports
            p
                if !user
                    a(href='/join').js-auth-trigger We hope to see you at our next match
        if topMatch
            +matchreport(topMatch)

block content
    .page-content: .container
        .timeline
            .timeline-path
            .timeline-item--offset
            each pastMatch, i in additionalMatches
                .timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
                    .timeline-item-node
                    a(href='/matchreports/'+pastMatch.key).timeline-item-inner
                        h6.text-caps.text-danger=pastMatch._.kickOffTime.format('dddd, Do MMMM YYYY')
                        h3=pastMatch.reportTitle
                        h5 MIT
                            =' '
                            =pastMatch.mitScore
                            =' : '
                            =pastMatch.opponentScore
                            =' '
                            =pastMatch.opponent
                        p!=utils.cropString(utils.htmlToText(pastMatch.reportDetail), 240, '...', true)

block js
    script(src='/js/packages.js')