extends ../../layouts/default

include ../../mixins/topmatch
include ../../mixins/timelinepastmatch

block intro
    .container-sm
        .page-intro
            h1.page-title Matches
            p.lead MIT Rugby usually have practices on Tuesdays and Thursdays. We hope to see you at&nbsp;
                if !user
                    a(href='/join').js-auth-trigger our&nbsp;next&nbsp;match
                else
                    | our next match

        if topMatch
            +topmatch(topMatch)

block content
    .page-content: .container
        .timeline
            .timeline-path
            .timeline-item--offset
            each match, i in additionalMatches
                +timelinepastmatch(match, i)

        if !topMatch && !additionalMatches.length
            h3.text-muted There are no matches yet.

block js
    if !MITRugby
       script.
            MITRugby = {};
    if user
        script.
            MITRugby.user = !{JSON.stringify(user)};
    if topMatch
        script.
            MITRugby.currentMatchId = !{JSON.stringify(topMatch.id)};

    script(src='/js/packages.js')
    script(src='/js/attending.js')
