extends ../../layouts/default

include ../../mixins/match
include ../../mixins/pastmatch

block intro
    .container-sm
        .page-intro
            h1.page-title Matches
            p.lead MIT Rugby usually have practices on Tuesdays and Thursdays. We hope to see you at&nbsp;
                if !user
                    a(href='/join').js-auth-trigger our&nbsp;next&nbsp;match
                else
                    | our next match

        if upcomingMatch
            +match(upcomingMatch)

block content
    .page-content: .container
        .timeline
            .timeline-path
            .timeline-item--offset
            each match in pastMatches
                +pastmatch(match)

        if !upcomingMatch && !pastMatches.length
            h3.text-muted There are no matches yet.

block js
    if !MITRugby
        script.
            MITRugby = {};
    if user
        script.
            MITRugby.user = !{JSON.stringify(user)};
    if upcomingMatch
        script.
            MITRugby.currentMatchId = !{JSON.stringify(upcomingMatch.id)};

    script(src='/js/packages.js')
    script(src='/js/attending.js')
